# Ignorar el archivo zip original de imagenes para no duplicar espacio en GitHub
imagenes(Copy) (1).zip
*.zip

# Archivos temporales o del sistema
.DS_Store
Thumbs.db
*.pdf
.gemini/

# Ignorar archivos Excel y JSON temporales (son solo para edición local)
*.xlsx
pdf_order_temp.json
imagenes_organizadas/

